{% extends "base.html" %}
{% load static %}
{% block title %}Movie Database - Favourite{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Your favourite movie list.
            </p>
            <hr>
        </div>
        {% for m in list_movie %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{ m.poster }}">
                </div>
                <div class="col-md-7">
                    <div><strong>Title: </strong><span>{{ m.title }}</span></div>
                    <div><strong>Year: </strong><span>{{ m.year }}</span></div>
                    <div><strong>Actors: </strong><span>{{ m.actors }}</span></div>
                    <div><strong>Awards: </strong><span>{{ m.awards }}</span></div>
                    <div><strong>Country: </strong><span>{{ m.country }}</span></div>
                    <div><strong>DVD: </strong><span>{{ m.dvd }}</span></div>
                    <div><strong>Director: </strong><span>{{ m.director }}</span></div>
                    <div><strong>Genre: </strong><span>{{ m.genre }}</span></div>
                    <div><strong>Plot: </strong><span>{{ m.plot }}</span></div>
                    <div><strong>Released: </strong><span>{{ m.released }}</span></div>
                    <div><strong>Runtime: </strong><span>{{ m.runtime }}</span></div>
                </div>
                <!--<div class="col-md-2">-->
                    <!--<button class="btn btn-warning" onclick="javascript:">- Remove</button>-->
                <!--</div>-->
            </div>
            <br><hr>
        </div>
        {% endfor %}
        <!-- pagination -->
            <div class="col-md-12">
                {% if list_movie.has_other_pages %}
                    <ul class="pagination pagination-sm">
                    {% if list_movie.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ list_movie.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-link"><span>&laquo;</span></li>
                    {% endif %}
                    {% for p in list_movie.paginator.page_range %}
                    {% if list_movie.number == p %}
                        <li class="page-item active page-link"><span>{{ p }}</span></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ p }}" class="page-link">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if list_movie.has_next %}
                        <li class="page-item"><a href="?page={{ list_movie.next_page_number }}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled page-link"><span>&raquo;</span></li>
                    {% endif %}
                    </ul>
                    {% endif %}
            </div>
    </div>
{% endblock body %}